#################
#Su9.VIP Web App#
#################
.vs/
src/.vs/
src/HeXuShi.Extensions.NoWWW/bin/
src/HeXuShi.Extensions.NoWWW/obj/

*.user
*.suo
*.cache
.vscode
/preview/HeXuShi.Extensions.NoWWW/bin
/preview/HeXuShi.Extensions.NoWWW/obj
/src/HeXuShi.Extensions.JumpToCN/bin
/src/HeXuShi.Extensions.JumpToCN/obj
/BlockChinaTests/bin
/BlockChinaTests/obj
/demo/IpSearchDemo/bin
/demo/IpSearchDemo/obj
/sample/TestChinaIp/bin
/sample/TestChinaIp/obj
/sample/WebSample/bin
/sample/WebSample/obj
/src/HeXuShi.Extensions.BlockChina/bin
/src/HeXuShi.Extensions.BlockChina/obj
/src/HeXuShi.Extensions.BlockChina/obj
/Tests/JumpToCNTests/bin
/Tests/JumpToComTests/bin
/src/HeXuShi.Extensions.IsChinaIpAddress/bin
/src/HeXuShi.Extensions.IsChinaIpAddress/obj
/src/HeXuShi.Extensions.JumpToCom/obj
/src/HeXuShi.Extensions.JumpToCom/bin
/Tests/JumpToCNTests/obj
/Tests/JumpToCNTests/bin
/Tests/JumpToComTests/obj
/Tests/JumpToComTests/bin
