#################
#Su9.VIP Web App#
#################
.vs/
src/.vs/
src/HeXuShi.Extensions.NoWWW/bin/
src/HeXuShi.Extensions.NoWWW/obj/

*.user
*.suo
*.cache
.vscode
/preview/HeXuShi.Extensions.NoWWW/bin
/preview/HeXuShi.Extensions.NoWWW/obj
/src/HeXuShi.Extensions.JumpToCN/bin
/src/HeXuShi.Extensions.JumpToCN/obj
/sample/WebSample/bin/Debug/netcoreapp2.2
/sample/WebSample/obj
/demo/IpSearchDemo/obj
/demo/IpSearchDemo/bin/Debug/netcoreapp2.2
