#################
#Su9.VIP Web App#
#################
.vs/
src/.vs/
src/HeXuShi.Extensions.NoWWW/bin/
src/HeXuShi.Extensions.NoWWW/obj/

*.user
*.suo
*.cache
.vscode
/preview/HeXuShi.Extensions.NoWWW/bin
/preview/HeXuShi.Extensions.NoWWW/obj
/src/HeXuShi.Extensions.JumpToCN/bin
/src/HeXuShi.Extensions.JumpToCN/obj
/sample/WebSample/bin/Debug/netcoreapp2.2
/sample/WebSample/obj
/demo/IpSearchDemo/obj
/demo/IpSearchDemo/bin/Debug/netcoreapp2.2
/sample/TestChinaIp/bin/Debug/netcoreapp2.2
/sample/TestChinaIp/obj
/src/HeXuShi.Extensions.IsChinaIp/bin
/src/HeXuShi.Extensions.IsChinaIp/obj
/sample/WebSample/bin/Release/netcoreapp2.2
/sample/WebSample/Properties/PublishProfiles/Default Settings.pubxml
/Tests/JumpToCNTests/bin/Debug/netcoreapp2.2
/Tests/JumpToCNTests/obj
/sample/TestChinaIp/bin/Debug/netcoreapp3.0
/sample/WebSample/bin/Debug/netcoreapp3.0
/sample/WebSample/bin/Release/netcoreapp3.0
/src/HeXuShi.Extensions.IsChinaIpAddress/bin/Debug
/src/HeXuShi.Extensions.IsChinaIpAddress/bin/Release
/src/HeXuShi.Extensions.IsChinaIpAddress/bin/publish
/src/HeXuShi.Extensions.IsChinaIpAddress/obj
/Tests/JumpToCNTests/bin/Debug/netcoreapp3.0
/src/HeXuShi.Extensions.JumpToCom/bin/Debug
/src/HeXuShi.Extensions.JumpToCom/obj
/Tests/JumpToComTests/bin/Debug/netcoreapp3.1
/Tests/JumpToComTests/obj
